
$theme-colors: (
    "primary": green
);

$enable-shadows: true;

.line-height-lg {
    line-height: 30px !important;
}

$sizes: ();
$sizes: map-merge(
  (
    25: 25%,
    50: 50%,   
    75: 75%,
    90: 90%,
    100: 100%,
    auto: auto
  ),
  $sizes
);

@import "../node_modules/bootstrap/scss/bootstrap";

